/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

/*Utils*/
.container {
    max-width: 800px;
    margin: 0 auto;
}

.red {
    background-color: #f00;
}

.green {
    background-color: #008000;
}

.yellow {
    background-color: #FFFF00;
}


h2 {
    font-size: 3em;
    color: #FFFF00;
}

/*Generics*/
img {
    transform:
        perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
    transition: 0.4s ease-in-out transform;

    &:hover {
        transform: translate3d(0px, 0px, -250px);
    }
}

li a {
    transform: perspective(900px) rotateX(60deg) scale(0.7);
    box-shadow: 0px 20px 100px #555;
    transition: 0.5s ease all;
    background: linear-gradient(180deg, #ffffff 30%, #ffffff);

    &:hover {
        transform: rotate(0deg) scale(1.5) translateY(10px);
    }
}

.flex {
    display: flex;

}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 3px 10px #000;
}

li {
    padding-right: 50px;
    padding-top: 30px;

}

.navbar {
    position: fixed;
    top: 0;
    right: 20px;
}

#casual h2 {
    color: #008000;
}

.main-content {
    text-align: center;
}



/*elegant version*/

.viewport-page {
    height: 100vh;
}